body{
margin: 0;
font-family: ariel,sans-serif;
background: color #f8f1f4;
color: #333;
}
.navbar{

display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 30px;
background: white;


}

.nav-links ,ul{
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    display: flex;justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;

}
section{
    padding: 25px 30px;

}
img{
    width: 300px;
    height: auto;


}